@font-face {
    font-family: zpix;
    src: url("../static/zpix.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "zpix";
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.tianditu {
    width: 100%;
    height: 100%;
}

.panel {
    width: 350px;
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 400;
    box-sizing: border-box;

    .group {
        margin-bottom: 15px;
        .text {
            height: 32px;
            line-height: 32px;
        }
        .block-field {
            margin-top: 16px;
        }
    }
}
