<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nes.css/css/nes.min.css') }}">
    <!-- <link rel="stylesheet" href="../node_modules/nes.css/css/nes.min.css"> -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- <script src="http://api.tianditu.gov.cn/api?v=4.0&tk=71945204e48fec91a7e185f3c2ea1ea0">
    </script> -->
    <script src="{{ url_for('static', filename='tianditu4.0.js') }}"></script>
    <script src="../static/tianditu4.0.js"></script>
    <title>天地图</title>
</head>

<body onLoad="onLoad()">

    <div id="map" class="tianditu"></div>
    <div class="panel">
        <div class="nes-container is-dark with-title group">
            <div class="title">基础信息</div>
            <div class="text"><span>中心坐标：</span><span id="infoCenter">00.00,00.00</span></div>
            <div class="text"><span>右上坐标：</span><span id="infoNECoordinate">00.00,00.00</span></div>
            <div class="text"><span>左下坐标：</span><span id="infoSWCoordinate">00.00,00.00</span></div>
            <div class="text"><span>当前层级：</span><span id="infoZoom">0</span>级</div>
            <div class="text"><span>当前坐标：</span><span id="infoCurrent">00.00,00.00</span></div>
        </div>
        <div class="nes-container is-dark with-title group">
            <div class="title">基本选项</div>
            <div class="block-field">

                <label><input type="radio" class="nes-radio is-dark" id="imageMap" name="mapType" value="imageURL"
                        checked><span>影像地图</span></label>
                <label><input type="radio" class="nes-radio is-dark" id="vectorCMap" name="mapType"
                        value="vectorCURL"><span>矢量地图</span></label>
            </div>
            <div class="block-field">
                <label><input type="checkbox" class="nes-checkbox is-dark" id="showGrid"><span>是否显示网格</span></label>
                <label><input type="checkbox" class="nes-checkbox is-dark" id="realGrid"><span>显示实际下载区域</span></label>
            </div>
        </div>
        <div class="nes-container is-dark with-title group">
            <div class="title">区域选择</div>
            <div class="block-field">
                <div class="nes-field is-inline text"><span>左上坐标：</span><span id="selectNW">00.00,00.00</span></div>
                <div class="nes-field is-inline text"><span>右上坐标：</span><span id="selectNE">00.00,00.00</span></div>
                <div class="nes-field is-inline text"><span>右下坐标：</span><span id="selectSE">00.00,00.00</span></div>
                <div class="nes-field is-inline text"><span>左下坐标：</span><span id="selectSW">00.00,00.00</span></div>
            </div>
            <div class="block-field" style="margin-left: -4px;">
                <button class="nes-btn is-success" id="openSelect">区域选择</button>
                <button class="nes-btn is-primary" id="clearSelect">清除选择</button>
            </div>
        </div>
        <div class="nes-container is-dark with-title group">
            <div class="title">瓦片下载</div>
            <div class="block-field" style="margin-left: -4px;">
                <button class="nes-btn is-success" id="download" onclick="onDownload()">下载</button>
            </div>
        </div>
    </div>
    <script>
        var options = {
            // token
            token: "71945204e48fec91a7e185f3c2ea1ea0",
            // 初始化层级
            zoom: 15,
            // 最小层级
            minZoom: 1,
            // 最大层级
            maxZoom: 18,
            // 默认中心点
            center: [106.58828259, 29.56782092],
            // 是否显示网格
            showGrid: false,
            // 伪墨卡托影像图地址
            imageWURL: 'http://t0.tianditu.gov.cn/img_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=img&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&tk=71945204e48fec91a7e185f3c2ea1ea0',
            // 伪墨卡托矢量图地址
            vectorWURL: 'http://t0.tianditu.gov.cn/vec_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&tk=71945204e48fec91a7e185f3c2ea1ea0',
            // 经纬度影像图地址
            imageCURL: 'http://t0.tianditu.gov.cn/img_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=img&STYLE=default&TILEMATRIXSET=c&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&tk=71945204e48fec91a7e185f3c2ea1ea0',
            // 经纬度矢量图地址
            vectorCURL: 'http://t0.tianditu.gov.cn/vec_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=c&FORMAT=tiles&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&tk=71945204e48fec91a7e185f3c2ea1ea0'
        }

        var map;
        // 
        var rectangled = false;

        var infoCenter = document.querySelector("#infoCenter");
        var infoNECoordinate = document.querySelector("#infoNECoordinate");
        var infoSWCoordinate = document.querySelector("#infoSWCoordinate");
        var infoZoom = document.querySelector("#infoZoom");
        var infoCurrent = document.querySelector("#infoCurrent");
        var mapTypes = document.getElementsByName("mapType");
        var showGrid = document.querySelector("#showGrid");
        let realGrid = document.querySelector("#realGrid");
        var openSelect = document.querySelector("#openSelect");
        var clearSelect = document.querySelector("#clearSelect");
        var selectNW = document.querySelector("#selectNW");
        var selectNE = document.querySelector("#selectNE");
        var selectSE = document.querySelector("#selectSE");
        var selectSW = document.querySelector("#selectSW");

        var currentBounds;
        var currentZoom = options.zoom;

        function onLoad() {
            // 瓦片图层
            let tileLayer = new T.TileLayer(options.imageCURL, { minZoom: options.minZoom, maxZoom: options.maxZoom });
            // 网格线图层
            let tileGrid = new T.GridlineLayer({
                opacity: options.showGrid ? 1 : 0,
                outlineSize: {
                    width: 2,
                    color: "#fff"
                },
                textSize: {
                    display: true
                }
            });
            //初始化地图对象
            map = new T.Map('map', {
                projection: 'EPSG:4326', // 经纬度坐标系，默认墨卡托
                layers: [tileLayer]
            });
            map.addLayer(tileGrid);
            map.centerAndZoom(new T.LngLat(...options.center), options.zoom);

            // 注册鼠标滑动事件
            map.addEventListener("mousemove", onMousemove);
            // 注册鼠标拖拽地图事件
            map.addEventListener("moveend", onMouseend);
            // 注册地图层级缩放事件
            map.addEventListener("zoomend", onZoomend);

            let rectangleTool = new T.RectangleTool(map);
            rectangleTool.addEventListener("draw", (e) => {
                let bounds = e.currentBounds;
                let ne = bounds.getNorthEast();   //可视区域右上角
                let sw = bounds.getSouthWest();   //可视区域左下角
                // 左上，西北
                selectNW.innerHTML = `${sw.lng.toFixed(6)},${ne.lat.toFixed(6)}`;
                // 右上，东北
                selectNE.innerHTML = `${ne.lng.toFixed(6)},${ne.lat.toFixed(6)}`;
                // 右下，东南
                selectSE.innerHTML = `${ne.lng.toFixed(6)},${sw.lat.toFixed(6)}`;
                // 左下，西南
                selectSW.innerHTML = `${sw.lng.toFixed(6)},${sw.lat.toFixed(6)}`;

                rectangled = !rectangled;
                openSelect.innerHTML = "选择区域";
                openSelect.className = "nes-btn is-success";
                rectangleTool.close();
                currentBounds = bounds;
            });

            mapTypes.forEach((radio) => {
                radio.addEventListener("change", (e) => {
                    tileLayer.setUrl(options[radio.value]);
                })
            });

            showGrid.addEventListener("change", (e) => {
                e.target.checked ? tileGrid.setOpacity(1) : tileGrid.setOpacity(0);
            });

            openSelect.addEventListener("click", (e) => {
                rectangled = !rectangled;
                if (rectangled) {
                    openSelect.innerHTML = "停止选择";
                    openSelect.className = "nes-btn is-error";
                    rectangleTool.clear();
                    rectangleTool.open();
                }
                else {
                    openSelect.innerHTML = "选择区域";
                    openSelect.className = "nes-btn is-success";
                    rectangleTool.close();
                }
            });

            clearSelect.addEventListener("click", (e) => {
                rectangleTool.clear();
                currentBounds = undefined;
            })

            // 初始化面板信息块
            let center = map.getCenter();
            let bounds = map.getBounds();
            let ne = bounds.getNorthEast();   //可视区域右上角
            let sw = bounds.getSouthWest();   //可视区域左下角
            infoCurrent.innerHTML = `${center.getLng().toFixed(6)},${center.getLat().toFixed(6)}`;
            infoCenter.innerHTML = `${center.getLng().toFixed(6)},${center.getLat().toFixed(6)}`;
            infoNECoordinate.innerHTML = `${ne.getLng().toFixed(6)},${ne.getLat().toFixed(6)}`;
            infoSWCoordinate.innerHTML = `${sw.getLng().toFixed(6)},${sw.getLat().toFixed(6)}`;
            infoZoom.innerHTML = map.getZoom();

        }

        function onMousemove(e) {
            infoCurrent.innerHTML = `${e.lnglat.getLng().toFixed(6)},${e.lnglat.getLat().toFixed(6)}`
        }

        function onMouseend(e) {
            let map = e.target;
            let center = map.getCenter();
            let bounds = map.getBounds();
            let ne = bounds.getNorthEast();   //可视区域右上角
            let sw = bounds.getSouthWest();   //可视区域左下角
            infoCenter.innerHTML = `${center.getLng().toFixed(6)},${center.getLat().toFixed(6)}`;
            infoNECoordinate.innerHTML = `${ne.getLng().toFixed(6)},${ne.getLat().toFixed(6)}`;
            infoSWCoordinate.innerHTML = `${sw.getLng().toFixed(6)},${sw.getLat().toFixed(6)}`;
        }

        function onZoomend(e) {
            currentZoom = e.target.getZoom();
            infoZoom.innerHTML = currentZoom;
        }

        function onDownload() {
            console.log("currentBounds:", currentBounds);
            if (currentBounds) {
                let ne = currentBounds.getNorthEast();   //可视区域右上角
                let sw = currentBounds.getSouthWest();   //可视区域左下角
                // 左上，西北
                selectNW.innerHTML = `${sw.lng.toFixed(6)},${ne.lat.toFixed(6)}`;
                // 右上，东北
                selectNE.innerHTML = `${ne.lng.toFixed(6)},${ne.lat.toFixed(6)}`;
                // 右下，东南
                selectSE.innerHTML = `${ne.lng.toFixed(6)},${sw.lat.toFixed(6)}`;
                // 左下，西南
                selectSW.innerHTML = `${sw.lng.toFixed(6)},${sw.lat.toFixed(6)}`;

                let data = {
                    zoom: currentZoom,
                    nw: [sw.lng, ne.lat],
                    ne: [ne.lng, ne.lat],
                    se: [ne.lng, sw.lat],
                    sw: [sw.lng, sw.lat],
                }

                let xhr = new XMLHttpRequest();
                xhr.open('post', `/getBoundsOrigins`, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    // 0:表示没有初始化，说明还没有创建对象
                    // 1:表示已经创建对象但是，还没有发送请求
                    // 2:表示已经发送，对方已经收到消息了，但是还没有彻底看懂我们什么意思，还有很多事情需要准备
                    // 3:服务器已经在给我们响应信息了，但是信息不完整
                    // 4:数据已经完整了，可以接收到完整的数据了
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        if (realGrid.checked) {
                            let bounds = new T.LngLatBounds(new T.LngLat(...data.coordinate.sw), new T.LngLat(...data.coordinate.ne));
                            var rect = new T.Rectangle(bounds, {
                                color: "#FF0000",
                                fillColor: "#FFFFFF",
                                fillOpacity: 0,
                                lineStyle: "dashed",
                            });
                            map.addOverLay(rect);
                        }
                    }
                }
                xhr.send(JSON.stringify(data));
            } else
                alert("未选择需要下载的区域")
        }
    </script>
</body>

</html>